<launch>

  <arg name="rviz" default="true" />
  <remap from="imu/data" to="mavros/imu/data"/>

  <node pkg="loam_velodyne" type="ncrl_scanRegistration" name="ncrl_scanRegistration" output="screen"/>
  <node pkg="loam_velodyne" type="ncrl_laserOdometry" name="ncrl_laserOdometry" output="screen" respawn="true">
  </node>
  <node pkg="loam_velodyne" type="ncrl_laserMapping" name="ncrl_laserMapping" output="screen"/>
  <node pkg="loam_velodyne" type="ncrl_transformMaintenance" name="ncrl_transformMaintenance" output="screen"/>

</launch>
